body {
    margin: 0;
    /* background-color: aqua; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .content img{
    width: 100%;
    height: 100%;
  }
  
  h5{
    padding-top: 2px;
    padding-bottom: 1px;
  }
  p{
    margin-bottom: auto;
    margin-top: auto;
  }
  .one{
    padding: 1px 1px;
  }
  
  .photo{
    padding-bottom: 12px;
  }
  
  .fa{
    height: 50px;
    width: 50px;
    color: white;
  }

  