@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 45px;

}

#logo img {
    height: 43px;
    filter: invert(1);

}

#navbar {
    font-family: 'Lacquer', cursive;
    background-color: black;
    padding: 18px 14px;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center;      */
    align-items: center;


}

#navbar li {
    list-style: none;

}

#navbar li a {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 13px 20px;

}

#navbar li a:hover {
    color: rgb(133, 130, 130);

}

#introSection {
    font-family: 'Lacquer', cursive;
    font-size: 55px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url('https://wallpaperaccess.com/full/2852099.jpg');
    height: 500px;
    background-color: red;
    padding-bottom: 40 px;
}

#introSection div.small {
    padding: 5px;
    font-size: 40px;
}

#sponsorSection {
    height: 323px;
    background-color: rgb(232, 224, 224);
}

#sponsorSection h2 {
    font-size: 34px;
    text-align: center;
    padding-top: 12px;
}

#sponsors {
    height: 191px;
    max-width: 1000px;
    margin: 27px auto;
}

#sponsors img {
    height: 80%;
    margin: 20px;
    padding: 0 23px;

}

#missionSection {
    margin: auto;
    height: 330px;
    width: 67%;
    background-color: white;
}




#missionSection h2 {
    font-size: 34px;
    text-align: center;
    padding-top: 12px;
}

.card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 16px;
    height: 209px;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 12px;
    margin-top: 15px;
    margin-top: 24px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    height: 131px;
    margin: 5px 9px;
    padding: 0 14px;
}

.card-img img {
    height: inherit;
    padding: 0 14px;
}

.card-content {
    padding: 0 10px;
    font-size: 19px;
}

.card-content p {}


#footer {
    height: 60px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: black;
}