* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 70vh;
    margin: 43px 0;
}
.container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
}
.myForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    
}
.myInput{
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    outline: none;

}
.btn{
    padding: 8px 16px;
    outline: none;
    font-size: 18px;
    border: 2px solid black ;
    border-radius: 10px;
    background: red;
    color: white;
    cursor: pointer;
    margin: 26px;
}