doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
          div#logo
            img(src="https://t3.ftcdn.net/jpg/04/48/18/52/360_F_448185258_15yAmoMVvbt1Bc3sqNFEP0F1okkC9GLt.jpg", alt="", srcset="")
            | HDA
            li #[a(href = '/') Home ]
            li #[a(href = '/') About]
            li #[a(href = '/') Services ]
            li #[a(href = '/') Class info  ]
            li #[a(href = '/') Contact us ]
    block content
    footer#footer 
    | Copyright © 2022 HarryDanceAcademy.com    |  All rights Reserved 
    